header{
    height: 125px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
}

.Logo{
    height: 125px;
    width: max-content;
}

.SideLeft{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
}

.SideRight{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
}