header {
    height: 125px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
}

.Logo {
    height: 125px;
    width: max-content;
}

.SideLeft {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
}

.SideRight {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    padding: 15px;
    margin-top: -20px;
    display: none;
    position: absolute;
    background-color: #D9D9D9;
    min-width: 160px;
    z-index: 1;
    right:30px;
    border-radius: 20px;

}

.dropdown:hover .dropdown-content {display: block;}

.BoldText {
    font-weight: bold;
}